# Global properties
#
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
# Change $SCRIPT_DIR to the location of your scripts!
command=$HOME/.config/i3blocks/$BLOCK_NAME/$BLOCK_NAME
separator_block_width=15
markup=none
interval=1

# [spotify]
# interval=10

[volume]
label=🔉 
interval=10
STEP=5%
MIXER=pulse

[iface]
interval=10F

[iface]
interval=10F
IFACE=ppp0

[bandwidth3]
interval=persist
LABEL=⇅ 
DT=2

[disk-io]
interval=persist
instance=/^nvme0n1/
LABEL=💾 
WIDTH=4
DT=2
MB_ONLY=1

[disk_usage]
label=🛢️ 
instance=/
interval=30
#TODO hack in disk_usage for TB, create PR
#command=$HOME/.config/i3blocks/disk_usage/disk_usage format="{used:.1f}G used of {total:.1f} Total beeing {perc_used}%"

[memory]
label=MEM 
min_width=2

[cpu_usage]
label=CPU 
min_width=CPU 10.0%
COLOR_NORMAL=#FFFFFF
#separator=false

[temperature]
label=CPU 
SENSOR_CHIP={{ i3blocks_cpu_sensor_chip }}

{% if i3blocks_gpu_sensor_chip != "" %}
[gpu_load]
label=GPU 
min_width=GPU 1% 1%
#GPU_BRAND=AMD

[temperature]
label=GPU 
SENSOR_CHIP={{ i3blocks_gpu_sensor_chip }}
{% endif %}

[battery]
label=🔋 
interval=30

[calendar]
LABEL=📅 
DATEFMT=+%Y-%m-%d %H:%M
