#!/bin/sh

export LC_TIME=sv_SE.UTF-8
export LC_MEASUREMENT=sv_SE.UTF-8

# git custom
export PATH=$PATH:$HOME/git/commands
export EDITOR=/usr/bin/vim
export TERMINAL=rxvt

# go paths
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/go/bin
export GO111MODULE=on

{% if profile_extra != '' %}
{{ profile_extra }}
{% endif %}

# kubectl
export KUBECONFIG=$HOME/.kube/config:$HOME/.k3d/kubeconfig-k3s-default.yaml

# kube_ps1
export KUBE_PS1_SYMBOL_ENABLE=false
export KUBE_PS1_NS_ENABLE=true
export KUBE_PS1_PREFIX=' ['
export KUBE_PS1_SUFFIX=]
